# Biniaires
*.o
*.out
*.exe
server/server

# Python
__pycache__/
*.pyc
*.pyo
venv/
env/
*.egg-info/

# ArduinoIDE
*.elf
*.hex
*.bin
*.map
build/
.vscode/
.pio/

# BDD
*.sqlite
*.sqlite3

# Logs
*.log

# Système
.DS_Store
*~
*.swp
*.swo
Thumbs.db

# IDE
.idea/
*.code-workspace

# Credentials
config.h
secrets.h
*.key
*.pem
